body {
  background-color: #101010;
  color: #ffffff;
}
h1 {
  color: #ffffff;
}
nav a {
  color: #ffffff;
}
footer {
  color: #ffffff;
}
a {
}

a:link {i
  color: #00ff00 
}

a:visited {
  color: #ffff00
}

a:focus {
  background: white
}

a:hover {
  background: #00ff00
}

a:active {
  color: blue
}

